In [1]:
# load the pickle files
import pickle # it is used to load the pickle files
from tensorflow.keras.models  import load_model # it is used to load the model
import numpy as np # it is used to load the data
import pandas as pd # it is used to load the data

WARNING:tensorflow:From d:\My Learning\AI_ML_World\MLAI_Krish\ANN_Implementation\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# load ANN model and scaler pickle files and one hot encoder files
model = load_model('model.h5') # load the model file
with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f) # load the scaler file
with open('onehot_encoder_geo.pkl', 'rb') as f:
    onehot_encoder_geo = pickle.load(f) # load the one hot encoder file    
with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f) # load the one hot encoder file

WARNING:tensorflow:From d:\My Learning\AI_ML_World\MLAI_Krish\ANN_Implementation\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
input_data = {
'CreditScore': 700,
'Geography': 'France',
'Gender': 'Male',
'Age': 40,
'Tenure': 3,
'Balance': 60000,
'NumOfProducts': 2,
'HasCrCard': 1,
'IsActiveMember': 1,
'EstimatedSalary': 50000
}

In [4]:
print(type(onehot_encoder_geo))

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>

In [5]:
# firstly, we need to convert the input data into a numerical format
# convert the geography to one hot encoded format
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]) # convert the geography to one hot encoded format
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography'])) # convert the one hot encoded data to a dataframe

d:\My Learning\AI_ML_World\MLAI_Krish\ANN_Implementation\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [7]:
# combine one hot encoded data with the input data
input_data_df = pd.DataFrame(input_data, index=[0]) # convert the input data to a dataframe
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,France,Male,40,3,60000,2,1,1,50000

In [8]:
# convert  categorical data to numerical format
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,France,1,40,3,60000,2,1,1,50000

In [9]:
# concatenate the one hot encoded data with the input data
input_data_df = pd.concat([input_data_df.drop('Geography', axis=1), geo_encoded_df],  axis=1) # concatenate the one hot encoded data with the input data

In [10]:
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,700,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [11]:
# scale the data using the scaler
input_data_Scaled = scaler.transform(input_data_df) # scale the data using the scaler
input_data_Scaled

array([[ 0.50178794,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [12]:

# get the predicted value
predicted_value = model.predict(input_data_Scaled) # predict the result using the model
predicted_value

1/1 [==============================] - 1s 1s/step

array([[0.03363901]], dtype=float32)

In [13]:
predicted_value[0][0] # get the predicted value

0.033639014

In [14]:
if predicted_value[0][0]*100 > 50:
    print("The customer will stay in the bank") 
else:
    print("The customer will leave the bank")

The customer will leave the bank